#navbar{
    height: 180px;
}

#navbar-container {
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

#inicio-container {
    padding: 40px;
}

#social-media-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: column;
}

#inicio-container {
    padding: 40px;
}

#sobre-container {
    grid-template-columns: 1fr;
}
#galeria-container {
    grid-template-columns: 1fr;
}

.galeria-image {
    width: 100%;
}
@media(max-width: 584px){
    .register-form{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
}